@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body {
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}

a:hover {
    color: #F58d17;
}

img {
    min-width: 100%;
}

.bayangan-di-hover {
    transition: all 0.4s;
}

.bayangan-di-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/*button*/
.order-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50; /* Warna hijau */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .order-button .icon {
    margin-top: 5px; /* Jarak antara teks dan ikon */
    width: 24px;
    height: 24px;
    fill: white;
  }
  
  .order-button:hover {
    background-color: #45a049; /* Warna hijau gelap saat hover */
  }
  
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #64981f;
    background-color: #64981f;
}

.btn-brand:hover {
    border-color: #528311;
    background-color: #528311;
    color: #fff;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/car-slider1.png);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/car-slider2.png);
}

.slide-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/car-slider3.png);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

/* Intro text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/* Menu */

#menu .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active {
    background-color: #64981f;
    color: #ffffff;
}

/* Gambar */

.menu-gambar {
    width: 100px;   
    height: auto;   
    object-fit: cover; 
    border-radius: 10px; 
}
.menu-item .bintang {
    color: #64981f;
}

.card-body {
    padding-bottom: 0.1px;
}

/* About */




/* Reservasi */

.reservation-box {
    background-color: #ffffff8a;
    padding: 3rem;
    border-radius: 50px;
}

.btn-custom {
    background-color: #64981f;
    color: white;
    border-radius: 10px;
}

.btn-custom:hover {
    background-color: #64981f;
    color: white;
}

.form-control, .form-select {
    background-color: #ffffff;
    border: 1px solid #64981f;
    color: rgb(0, 0, 0);
}

.form-control:focus, .form-select:focus {
    background-color: #ffffff;
    border-color: #64981f;
}

.powered-by {
    font-size: 0.85rem;
    color: #64981f;
}

.bg-custom {
    background-image: url(../image/car-slider1.png); /* Path ke gambar */
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .card-custom {
    background-color: rgba(0, 0, 0, 0.7); /* Transparansi pada card */
    border-radius: 10px;
  }

/* Footer Styles */
.footer {
    background-color: #646465;
    color: #ffffff;
    padding: 40px 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #64981f;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 15px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.contact-info i {
    margin-right: 10px;
    color: #f5a45d;
}

.contact-info li {
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
}

.footer .row {
    margin-bottom: 20px;
}

.footer .col-md-6 {
    display: flex;
    align-items: center;
}

.footer .text-end a {
    margin-left: 10px;
}

